<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hartej Singh</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="/static/img/title.jpeg" rel="icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<!--  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button>-->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<!-- ======= Header ======= -->
<header class="d-flex flex-column justify-content-center" id="header">

    <nav class="navbar nav-menu" id="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a class="nav-link scrollto" href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
            <li><a class="nav-link scrollto" href="#cover-letter"><i class="bx bx-envelope"></i>
                <span>Cover Letter</span></a></li>
            <li><a class="nav-link scrollto" href="#skills"><i class="bx bx-book-content"></i> <span>Skills</span></a>
            </li>
            <li><a class="nav-link scrollto" href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
            </li>
            <li><a class="nav-link scrollto" href="#recognition"><i class="bx bx-star"></i> <span>Recognition</span></a>
            </li>
            <!--        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>-->
        </ul>
    </nav><!-- .nav-menu -->

</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section class="d-flex flex-column justify-content-center" id="hero">
    <div class="container" data-aos="zoom-in" data-aos-delay="75">
        <h3>Hey!</h3>
        <h5>You've landed on the portfolio website of</h5>
        <h1>Hartej Singh</h1>
        <p>I'm <span class="typed"
                     data-typed-items="Python Developer..., an AI Enthusiast..., a Data Scientist..., a Big Techie!!!, a Motorhead!, a Homo Sapien :)"></span>
        </p>
        <div class="social-links">
            <!--        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
            <!--        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
            <a class="linkedin" href="https://www.linkedin.com/in/hartej-singh-6b8977192/" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
            <a class="github" href="https://github.com/hartej-singh" target="_blank"><i class="bx bxl-github"></i></a>
            <a class="instagram" href="https://www.instagram.com/hahahartej/" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Me</h2>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <img alt="picture" class="img-fluid" src="/static/img/profile-img.jpg">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>Software Engineer</h3>
                    <p class="fst-italic">
                        Pythonista by Day, AI Fanatic by Night…
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>11 September 2001</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a
                                        href="https://www.karanhartej.com/">www.karanhartej.com</a></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Home City:</strong> <span>Surat, Gujarat (IND)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Qualification:</strong> <span>Bachelor of Technology</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email ID:</strong> <span><a
                                        href="mailto:hartejsingh2001@gmail.com">hartejsingh2001@gmail.com</a></span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Current City:</strong> <span>Hyderabad, Telangana (IND)</span></li>
                            </ul>
                        </div>
                    </div>

          <p>Fervent and persistent problem solver with a knack for Python programming language driven by inquisitive nature and an insatiable appetite for coding. Enhancing my competence by gaining experience and enthusiastic about developing a career in Artificial Intelligence as the foundation. A quick learner with keen observations and a determination to get things done on time.
          <br><br>
          Outside of code, I’m a big motor-head and staying immersed in tech innovations. I’m always eager to connect with like-minded individuals passionate about AI, backend engineering, or building the future with GenAI.
          </p>
          </div>
        </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Cover Letter Section ======= -->
    <section class="cover-letter" id="cover-letter">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Cover Letter</h2>
                <p>A personalized introduction highlighting my passion for Software development and what I can bring to your
                    team.</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="cover-letter-content">
                        <div class="cover-letter-text">
                            <p>
                                Dear Hiring Manager,
                            </p>
                            <p>
                                I’m a Software Engineer with a strong focus on Python development, backend architecture,
                                and cloud-native solutions on GCP. Over the past few years, I’ve designed and deployed
                                scalable systems using Flask, FastAPI, GraphQL, and SQL/NoSQL databases, while
                                automating CI/CD pipelines and containerized deployments for reliability and speed.
                                <br><br>
                                My work extends deeply into AI engineering, where I’ve built and orchestrated
                                intelligent agent systems with LLMs such as OpenAI, Claude, and Gemini. I’ve designed
                                Retrieval-Augmented Generation (RAG) pipelines with vector databases like Pinecone,
                                AlloyDB (pgvector), and MongoDB, improving semantic search accuracy and enabling faster,
                                more relevant knowledge retrieval.
                                <br><br>
                                In addition to my technical background, I’ve taken on leadership responsibilities as a
                                Product Owner, driving GenAI projects end-to-end — from understanding client
                                requirements to architecting and delivering production-grade AI solutions that cut down
                                manual effort and improved efficiency by over 50%.
                                <br><br>
                                I’m also passionate about research and innovation, with a published paper on optimizing
                                energy trade in Virtual Power Plants (Springer, ICDAM 2024). My achievements include
                                winning Kotak Mahindra Bank’s REIGN Hackathon and reaching the finals of Google Cloud’s
                                The NEXT Big Thing, experiences that strengthened my ability to innovate and lead under
                                high-stakes environments.
                                <br><br>
                                I enjoy taking on complex challenges at the intersection of software engineering and
                                applied AI, and I thrive on building solutions that deliver tangible impact.
                                <br><br>
                                I am enthusiastic about opportunities that allow me to apply my skills in Python
                                development, AI integration, and cloud-native architecture to create meaningful and
                                reliable solutions. I am confident my background and drive for innovation would enable
                                me to make a positive contribution.
                                <br><br>
                                Thank you for your time and consideration. I look forward to the opportunity to discuss
                                how my skills and experiences can align with the needs of your team.
                            </p>
                            <p>
                                Sincerely,<br>
                                Hartej Singh
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cover Letter Section -->

    <!-- ======= Skills Section ======= -->
    <section class="skills section-bg" id="skills">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Skills</h2>
                <p>This section enlists some of my top skills and my level of expertise in them.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Python Programming Language <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" class="progress-bar"
                                 role="progressbar"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">GenAI & LLMs <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar"
                                 role="progressbar"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">RAG & Vector Databases <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar"
                                 role="progressbar"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Backend Development <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar"
                                 role="progressbar"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Cloud & DevOps (GCP) <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar"
                                 role="progressbar"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">System Design <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar"
                                 role="progressbar"></div>
                        </div>
                    </div>

                </div>
                <br><br>
                <div class="row skills-content">
                    <div class="col-lg-6">
                        <p><br>
                            <b>Programming & Frameworks</b><br>
                            <em>Python, Flask, FastAPI, Pydantic, GraphQL, WebSockets, RESTful APIs,
                                Microservices</em><br><br>

                            <b>Generative AI & NLP</b><br>
                            <em>LLMs (OpenAI, Claude, Gemini), RAG Systems, Vector Databases, Embedding Models, Prompt
                                Engineering, Agent Orchestration (Agentspace, MCP), Indexing (HNSW, SCANN), NLP</em><br><br>

                            <b>STRENGTHS</b>
                        <ul>
                            <li><em>Observational skills and strong attention to detail</em></li>
                            <li><em>Problem-solving and analytical skills</em></li>
                            <li><em>Teamwork and communication</em></li>
                            <li><em>Perseverance and resourcefulness</em></li>
                        </ul>
                        </p><br>
                    </div>
                    <div class="col-lg-6">
                        <p><br>
                            <b>Databases & Storage</b><br>
                            <em>Vector Databases (pgvector), Pinecone, AlloyDB, BigQuery, MongoDB, PostgreSQL (SQL),
                                NoSQL Databases</em><br><br>

                            <b>Cloud & DevOps</b><br>
                            <em>Google Cloud (GCP), VertexAI, Kubernetes, Cloud Run, Workbench VMs, Serverless
                                Architecture, Git, Docker, CI/CD Pipelines, GitHub Actions</em><br><br>
                            <b>LANGUAGES</b>
                        <ul>
                            <li><em>English (Full Professional Proficiency)</em></li>
                            <li><em>Hindi (Native or Bilingual Proficiency)</em></li>
                            <li><em>Punjabi (Limited Working Proficiency)</em></li>
                            <li><em>Gujarati (Limited Working Proficiency)</em></li>
                            <li><em>Japanese (Elementary Proficiency)</em></li>
                        </ul>
                        </p><br>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section class="resume" id="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2>Resume</h2>
              <p>This is a glimpse of my resume. To view the full version, click <a href="https://drive.google.com/file/d/1LTzd4UJ4AwYWrVznINwHS7NcKFujNaOJ/view?usp=drive_link" target="_blank">this</a>.</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Software Engineer (AI & Python Backend)</h4>
                        <h5>JULY 2023 - PRESENT</h5>
                        <p><b>Techolution</b><em>Hyderabad (IND)</em></p>
                        <p>Techolution is a leader in custom AI solutions, delivering end-to-end innovation with a focus
                            on real-world impact and responsible AI governance.</p>
                        <ul>
                            <li>Developed scalable backend systems using Python, Flask, FastAPI, Pydantic, and GraphQL
                                over WebSockets, integrating SQL/NoSQL databases.
                            </li>
                            <li>Built and deployed intelligent agents with orchestration leveraging LLM providers like
                                OpenAI, Claude, and Gemini, improving query response accuracy and lowering latency by
                                25%.
                            </li>
                            <li>Designed and optimized RAG pipelines using embedding models with vector databases like
                                Pinecone, AlloyDB (pgvector), BigQuery, and MongoDB, enhancing context-aware search
                                accuracy by 40%.
                            </li>
                            <li>Led GenAI projects as Product Owner, building a production-grade semantic search engine
                                that cut user search time by over 50%.
                            </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Internship Trainee</h4>
                        <h5>JUNE - AUGUST 2022</h5>
                        <p><b>Kotak Mahindra Bank</b></p>
                        <p>Worked on improving KEYA, Kotak's AI chatbot, by enhancing conversation flows and integrating
                            user-centric features using Python and NLP tools.</p>
                        <ul>
                            <li>Took part in re-architecturing and developing a strategy to expand the chatbot to
                                incorporate new features based on the learnings from market mapping and research,
                                improved the conversation flows, and devised a method to test the functioning of new
                                versions of AI models as compared to the previous ones.
                            </li>
                            <li>Applied NLP and GenAI concepts to optimize dialogue handling, with additional work on
                                automation and UI/UX aligned with industry standards.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Technology</h4>
                        <h5>2019 - 2023</h5>
                        <p>Computer Science and Engineering (with spl. in IoT)</p>
                        <p><em>Vellore Institute of Technology, Vellore (IND)</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>All India Senior Secondary School Certificate Examination, Science - Class XII</h4>
                        <h5>2019</h5>
                        <p>Central Board of Secondary Education</p>
                        <p><em>Scholar English Academy, Surat (IND)</em></p>
                    </div>
                    <div class="resume-item">
                        <h4> All India Secondary School Certificate Examination — Class X</h4>
                        <h5>2017</h5>
                        <p>Central Board of Secondary Education</p>
                        <p><em>J. H. Ambani Saraswati Vidya Mandir, Surat (IND)</em></p>
                    </div>

                    <h3 class="resume-title">Publications</h3>
                    <div class="resume-item">
                        <h4>Optimising Energy Trade in Virtual Power Plants with LSTM, Representative Houses, and Dynamic Programming</h4>
                        <h5>OCTOBER 2022 - MAY 2023</h5>
                        <p>Published in Innovative Computing and Communications: Proceedings of ICICC 2024, Volume 6, Springer. Presented at the 5th International Conference on Data Analytics & Management (ICDAM 2024).</p>
                        <p>Developed a data processing pipeline, machine learning models, and optimised energy allocation strategies to minimise waste and maximise efficiency in household energy consumption.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->


    <!-- ======= Services Section ======= -->
    <section class="services" id="recognition">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Recognition</h2>
                <p>This section contains my accomplishments as awards, prizes, and certificates. </p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                        <div class="icon">
                            <img src="\static\img\accomplishments\kotak.jpg">
                        </div>
                        <h4>First Prize in Kotak Mahindra Bank’s REIGN 2021-22</h4>
                        <p>It was a 2-staged hackathon to reimagine banking. We made a fully-functional chatbot
                            incorporated in a web application that could solve generic queries and also operate on
                            personal bank accounts with an AI-based authentication protocol.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="200">
                    <div class="icon-box iconbox-orange ">
                        <div class="icon">
                            <img src="\static\img\accomplishments\sasvit2.png">
                        </div>
                        <h4>Third Prize in EnPhyThon <br>2019</h4>
                        <p>It is a 24-hour contest conducted by the School of Advanced Sciences, VIT (SAS, Department of
                            Physics). We developed a surveillance drone working prototype based on the concepts of
                            optical fiber communication and lasers.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="200">
                    <div class="icon-box iconbox-orange ">
                        <div class="icon">
                            <img height="100" src="\static\img\accomplishments\gcp.png"/>
                        </div>
                        <h4>Finalist in Google Cloud The NEXT Big THING Hackathon <br>2022</h4>
                        <p>Reached the top 6 final teams in this hackathon, open for all developers and professionals
                            from all age demographics. We developed a solution prototype in Banking & Finance theme
                            harnessing GCP services.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <img src="\static\img\accomplishments\hackx2.png">
                        </div>
                        <h4>Honorable Mention in HackX 2021</h4>
                        <p>It was a 3-day hackathon conducted by IEEE-SPS, VIT. Our project involved a portal for new
                            coders who can look up for topics in various AI-suggested categories as well as ask their
                            questions on it and get replies from other users of the website.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-yellow">
                        <div class="icon">
                            <img src="\static\img\accomplishments\d2c2.jpg">
                        </div>
                        <h4>D2C Competitive Leader 2022 Award Nominee</h4>
                        <p>Competitive leaders were ranked based on their performance in competitions organized on
                            Unstop (then Dare2Compete).</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-teal">
                        <div class="icon">
                            <img src="\static\img\accomplishments\ieee2.png">
                        </div>
                        <h4>IEEE Professional Communication Society</h4>
                        <p>Finance and HR Chair (Board Position) at IEEE-PCS Chapter, VIT Vellore</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-red">
                        <div class="icon">
                            <img src="\static\img\accomplishments\jpm2.png">
                        </div>
                        <h4>Virtual Internship @ JPMorgan</h4>
                        <p>Software Engineering Virtual Experience with Forage at JPMorgan Chase & Co.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-teal">
                        <div class="icon">
                            <img src="\static\img\accomplishments\walmart2.png">
                        </div>
                        <h4>Virtual Internship @ Walmart</h4>
                        <p>Advanced Software Engineering Virtual Experience with Forage at Walmart Global Tech</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-teal">
                        <div class="icon">
                            <img src="\static\img\accomplishments\ibm2.png">
                        </div>
                        <h4>Project with Industrial Internship @ IBM</h4>
                        <p>Recipe Recognition with Deep Learning and IBM Watson</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Hartej Singh</h3>
        <div class="social-links">
            <a class="linkedin" href="https://www.linkedin.com/in/hartej-singh-6b8977192/" target="_blank"><i
                    class="bx bxl-linkedin"></i></a>
            <a class="github" href="https://github.com/hartej-singh" target="_blank"><i class="bx bxl-github"></i></a>
            <a class="instagram" href="https://www.instagram.com/hahahartej/" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
            <a href="https://drive.google.com/file/d/1LTzd4UJ4AwYWrVznINwHS7NcKFujNaOJ/view?usp=drive_link"
               target="_blank"><i class="bx bx-file-blank"></i></a>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h6>Location:</h6>
                    <p>Surat, Gujarat (IND)</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h6>Email:</h6>
                    <p>hartejsingh2001@gmail.com</p>
                </div>
            </div>
            <h6>
                Last updated: August 2025
            </h6>
        </div>
    </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/typed.js/typed.min.js"></script>
<script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

</body>

</html>
